body {
	 text-align: center;
	 background-color: #eaeaea;
	 }

.inActive {

}

.active {
	background-color: #99CCFF;
}

.inputForm {
		display: inline-block;
		text-align: center;
		width: 400px;
		height: 300px;
}

.input {
	width: 80%;
}

ul {
	float: left;
}


li {
	list-style-type: none;
	cursor: pointer;
	display: block;
	text-align: left;
	margin: 10px;
}

input[type = button] {
	background-color: #00679d;
	display: inline-block;
	border: 1px solid #00679d;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

input[type = button]:hover {
	color: #00679d;
	background-color: #ffffff;	
}

.delete {
	float: right;
	margin-left: 200px;
	height: 18px;
	display: block;
}
